/* General styling for the weather app */
body{
  background: rgb(37, 61, 222);
}
.weather-app {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #b3b3c2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

/* Styling for the city search input */
.city-search {
  margin-bottom: 20px;
}

.city {
  padding: 10px;
  width: 100%;
  border: 1px solid #0c0c1c;
  border-radius: 5px;
  font-size: 16px;
}

/* Styling for the city name */
.city-name {
  text-align: center;
  margin-bottom: 10px;
}

.city-name h2 {
  margin: 0;
  font-size: 24px;
}

.city-name span {
  font-size: 18px;
  color: #040508;
}

/* Styling for the date */
.date {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ece2e2;
}

/* Styling for the weather information */
.weather-info {
  text-align: center;
}

.weather-info h3 {
  margin: 10px 0;
  font-size: 28px;
  color: #211b1b;
}

.weather-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #faf2f2;
}

/* Styling for the weather icon */
.weather-info img {
  width: 100px;
  height: 100px;
}

/* Styling for the error message */
.error-message {
  color: red;
  margin-top: 20px;
}
